$blue-purple-color: #5747ea;
$orange-color: #ff8b64;
$red-color: #ff5e7d;
$blue-color: #55c2e6;
$green-color: #4bcf82;
$purple-color: #7335d2;
$yellow-color: #f1c75b;
$white-color: #ffffff;

$primary-color: #0e1323;
$secondary-color: #1c204b;
$text-color: $white-color;
$secondary-text-color: #bbc0ff;
$icons-color: #bbc0ff;
$shadow-color: #0000005c;

$mobile-breakpoint: 375px;
